<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WRP.ManageResources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ApexNetReportResources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WRP.ManageResources.Properties.Settings>
            <setting name="SaveToFolder" serializeAs="String">
                <value>C:\temp\Resources Generated</value>
            </setting>
            <setting name="PrefixNameResx" serializeAs="String">
                <value>CRM.</value>
            </setting>
            <setting name="TranslateTextFieldPrefix" serializeAs="String">
                <value>TT_</value>
            </setting>
            <setting name="TranslateFormulaFieldPrefix" serializeAs="String">
                <value>TF_</value>
            </setting>
        </WRP.ManageResources.Properties.Settings>
        <ApexNetReportResources.Properties.Settings>
            <setting name="SaveToFolder" serializeAs="String">
                <value>C:\temp\Resources Generated</value>
            </setting>
            <setting name="PrefixNameResx" serializeAs="String">
                <value>CRM.</value>
            </setting>
            <setting name="TranslateTextFieldPrefix" serializeAs="String">
                <value>TT_</value>
            </setting>
            <setting name="TranslateFormulaFieldPrefix" serializeAs="String">
                <value>TF_</value>
            </setting>
        </ApexNetReportResources.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
