<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
    <configSections>
      <section name="ANA" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="BOCCONI" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>
    <ANA>
      <add key="ServerName" value="odbc_oracle"/>
      <add key="UserDB" value="ANA"/>
      <add key="PasswordDB" value="ANA"/>
      <add key="DBName" value=""/>
      <add key="TablePrefix" value="ANA."/>
    </ANA>
    <BOCCONI>
      <add key="ServerName" value="odbc_oracle_bocconi"/>
      <add key="UserDB" value="UNIBOCCONI_AGE20_DEV"/>
      <add key="PasswordDB" value="age"/>
      <add key="DBName" value=""/>
      <add key="TablePrefix" value="UNIBOCCONI_AGE20_DEV."/>

      <add key="PhisicalReportPath" value="0"/>
      <add key="PrintMode" value="X"/>
      <add key="HasCrystalLogo" value="0"/>
      <add key="HasRefreshButton" value="1"/>
      <add key="ToolPanelView" value=""/>
      
    </BOCCONI>
    <appSettings>
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
      <!-- init WRP Settings keys -->
      <add key="SectionDBdefault" value="BOCCONI"/>
      <add key="PreviewType" value="RIC"/>
      <add key="ExportFormatType" value="pdf"/>
      <add key="DeleteExportFile" value="1"/>
      <add key="CleanUpReportDocument" value="0"/>
      <add key="DisplayToolbarCrystal" value="1"/>
      <add key="PrintMode" value="X"/>
      <add key="PhisicalReportPath" value="0"/>
      <add key="ExportedNameFile" value="ExportedFile"/>
      <add key="ExportAdvanced" value="1"/>
      <add key="ExportAsAttachment" value="1"/>
      <add key="HasToggleGroupTreeButton" value="1"/>
      <add key="HasExportButton" value="1"/>
      <add key="HasRefreshButton" value="1"/>
      <add key="HasPrintButton" value="1"/>
      <add key="HasDrillUpButton" value="1"/>
      <add key="HasPageNavigationButtons" value="1"/>
      <add key="HasGotoPageButton" value="1"/>
      <add key="HasSearchButton" value="1"/>
      <add key="HasZoomFactorList" value="1"/>
      <add key="HasCrystalLogo" value="0"/>

      <add key="HandleGlobalError" value="1"/>
      <add key="ViewErrors" value="1"/>
      <add key="WriteIntoLog" value="1"/>
      <add key="EventLog" value="Application"/>
      <add key="EventLogSource" value="ApexNetWRP"/>
      <add key="SupportMail" value="supporto@apex-net.it"/>

      <add key="EnableTitle" value="1"/>
      <add key="Title" value="Preview"/>
      <add key="InitParamToEmptyString" value="0"/>
      <add key="CleanUpRepDocEndSession" value="1"/>
      <add key="PrefixIdReportDocument" value="ApexNetWRP"/>
      <add key="HasToggleParameterPanelButton" value="1"/>
      <add key="ToolPanelView" value="G"/>
      <add key="LocalizeFromResource" value="0"/>
      <add key="ResourcePrefix" value=""/>
      <add key="GetValuesFromHttpPost" value="0"/>
      <add key="OverrideCulture" value="0"/>
      <add key="OverridedUICulture" value=""/>
      <add key="OverridedCulture" value=""/>
      <!-- end WRP Settings keys -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
<system.webServer>
  <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/>
</system.webServer></configuration>